<div id="anim_06">
    <div class="container">
      <div class="box">
        <div class="arm">
          <div class="band">
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
          </div>
          <div class="band">
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
          </div>
          <div class="band">
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
          </div>
          <div class="band">
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
          </div>
          <div class="band">
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
          </div>
          <div class="band">
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
          </div>
        </div>
        <div class="arm">
          <div class="band">
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
          </div>
          <div class="band">
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
          </div>
          <div class="band">
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
          </div>
          <div class="band">
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
          </div>
          <div class="band">
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
          </div>
          <div class="band">
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
          </div>
        </div>
        <div class="arm">
          <div class="band">
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
          </div>
          <div class="band">
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
          </div>
          <div class="band">
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
          </div>
          <div class="band">
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
          </div>
          <div class="band">
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
          </div>
          <div class="band">
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
          </div>
        </div>
        <div class="arm">
          <div class="band">
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
          </div>
          <div class="band">
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
          </div>
          <div class="band">
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
          </div>
          <div class="band">
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
          </div>
          <div class="band">
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
          </div>
          <div class="band">
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
          </div>
        </div>
        <div class="arm">
          <div class="band">
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
          </div>
          <div class="band">
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
          </div>
          <div class="band">
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
          </div>
          <div class="band">
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
          </div>
          <div class="band">
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
          </div>
          <div class="band">
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
          </div>
        </div>
        <div class="arm">
          <div class="band">
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
          </div>
          <div class="band">
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
          </div>
          <div class="band">
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
          </div>
          <div class="band">
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
          </div>
          <div class="band">
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
          </div>
          <div class="band">
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
          </div>
        </div>
        <div class="arm">
          <div class="band">
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
          </div>
          <div class="band">
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
          </div>
          <div class="band">
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
          </div>
          <div class="band">
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
          </div>
          <div class="band">
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
          </div>
          <div class="band">
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
          </div>
        </div>
      </div>
    </div>
</div>
